# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
/.metadata/

# Temporary / fake files
.fake

# IntelliJ / build output
out/
main/

# Ignore uploaded images in public/uploads/
frontend/public/NoticePDFs/*
frontend/public/TeacherImages/*

