# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
/.metadata/

# Temporary / fake files
.fake

# IntelliJ / build output
out/
#/main/   <-- removed to avoid ignoring Java sources
# If you only want to ignore a top-level main folder, use:
#/main/

# Ignore uploaded images in public/uploads/
frontend/public/NoticePDFs/*
frontend/public/TeacherImages/*

# Explicitly allow backend Java source files
!backend/spring_boot_backend_template/src/main/**
